<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Name roma:</strong>
  <%= @user.name_roma %>
</p>

<p>
  <strong>Name kana:</strong>
  <%= @user.name_kana %>
</p>

<p>
  <strong>Mail:</strong>
  <%= @user.mail %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
